#div_1 {
    background-color: aquamarine;
    width: 10cm;
    height: 10cm;
}

#div_2 {
    background-color: rebeccapurple;
    width: 10mm;
    height: 10mm;
}

#div_3 {
    background-color: darkblue;
    width: 10in;
    height: 10in;
}

#div_4 {
    background-color: wheat;
    width: 10px;
    height: 10px;
}

#div_5 {
    background-color: olive;
    width: 10pt;
    height: 10pt;
}

#div_6 {
    background-color: firebrick;
    width: 10pc;
    height: 10pc;
}