#div_1 {
    background-color: aquamarine;
    width: 50vw;
    height: 50vh;
}

#p1 {
    font-size: 2rem;
}

#div_2 {
    background-color: rgb(151, 136, 165);
    width: 50vw;
    height: 50vh;
}

#p2 {
    font-size: 2em;
}

#div_3 {
    background-color: darkblue;
    width: 10in;
    height: 10in;
}

#div_4 {
    background-color: wheat;
    width: 10px;
    height: 10px;
}

#div_5 {
    background-color: olive;
    width: 10pt;
    height: 10pt;
}